@font-face {
  font-family: 'poppinsSemiBold';
  src: url(./assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'poppinsRegular';
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

$poppinSemiBold: 'poppinsSemiBold', sans-serif;
$poppinsRegular: 'poppinsRegular', sans-serif;

$primary: #5f76fb;
$black: #0b132b;
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: $poppinsRegular;

  &::selection {
    background: $primary;
    color: #ffffff;
  }
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
